<!DOCTYPE html>
<html lang="en" class="light">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/views/css/output.css" rel="stylesheet">
  <title>TailwindCss</title>
</head>

<body class="h-[100vh]">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque, corporis mollitia omnis quas sint pariatur molestiae explicabo qui nesciunt magni similique quasi! Vitae expedita odit atque nulla sit! Reprehenderit, dicta?  

  <!-- Check auth user -->
  <script src="/views/script/checkAuth.js"></script>
</body>
</html>