<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="./css/output.css" rel="stylesheet">
</head>
<body>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde obcaecati iure, dolorum neque culpa dolor suscipit quis labore inventore odio veniam recusandae provident, perspiciatis porro fugiat laborum exercitationem similique repudiandae!
</body>
</html>